*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    margin: 0px;
    font-family:'Times New Roman', Times, serif;
}

body{
    margin-top: 0px;
    height: 200vh;
    background: url(../img/BackgroundIMG.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}

h1{
    padding: 20px 0;
    margin: 0 auto;
    width:fit-content;
    font-size: 2.5rem;
    color: white;
}

header{
    background-image: linear-gradient(to right, rgb(116, 123, 255) , rgb(25, 20, 71));
}

.container{
    display: flex;
    width: 100%;

}
.topicHeading,
h2{
    margin-top: 20px;
}

.citySearchArea{
    flex: 1;
    padding: 0 10px;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    /* width: 25vw; */
}

.cityNav{
}
.weatherInfo{
    flex: 2;
    margin-left: 25px;
}
.citySearchArea,
.weatherInfo{
    border: 2px;
    border-left: double;
    border-width: 2.5px;
    padding: 5px;
}

.topicHeading,
#pastSearchTitle{
    font-size: 2.5rem;

}
#searchBox{
    font-family: 'Times New Roman', Times, serif;
    height: 4rem;
}

#searchBtn{
    color: white;
    background-color: rgb(116, 123, 255);
    margin-top: 0.5rem;
    height: 3rem;
}

#searchBox,
#searchBtn{
    width:100%;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0 0.15rem 0.15rem 0;
}

#pastSearchDiv{
    display: flex;
    margin-top: 10px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    padding: 2rem;
}

.flexDivider{
    flex: 1;
}

.flexDivider{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clearBtn{

}
#lastSearch{
    color: white;
    font-size: 2.5rem;
    margin-left: 5px;
    padding: 0.5px;
    background-color: black;
}

.mediumTitle{
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.weatherContainer{
    display: flex;
}

.daySeparator{
    flex: 1;
}

.normalText{
    font-size: 1.25rem;
    font-weight: bold;
}